.github/**
.gitignore
docs/**
e2e/**
eslint.config.js
eslint.config.mjs
node_modules/**
playwright.config.ts
package-lock.json
scripts/**
src/**
test/**
test-results/**
tsconfig*.json
README_ja.md
.editorconfig
dist/**/*.map
memobox-*.vsix
